<% saving = 0 %>
<% spent = 0 %>
<%# total = 0 %>
<table class="table table-bordered">

     <tr>
     	<th>type</th>
     	<th>category</th>
     	<th>Amount</th>
          <th>Date</th>
     </tr>
    
     <% @trans.each do|tran| %>
     
     <tr>
     <td><%=tran.typ %></td>
     <td><%=tran.category%></td>
     <td><%=tran.amount%></td>
     <td><%=tran.date %></td>
     </tr>

      <% if tran.typ == "saving"%>
     <% saving= saving + tran.amount %>
    <% else %>
    <% spent= spent + tran.amount %>
    <%end%>
     <%end%>
     </table>
    
    

<!--<p><%#= link_to 'PDF Format', formatted_products_path(:pdf) %></p>-->


   <%total = saving-spent %>
   <p><b>Saving   -   <%= total%></b></p>
   <p><b>Spent   -   <%= spent%></b></p>